.navBar {
    position: sticky;
    /* height: 200px; */
    border-bottom: solid #E1E1E1 1px;
    top: 0;
    backdrop-filter: blur(15px);
    z-index: 3;
}

.navbar-up {
    position: relative;
    border-bottom: solid #E1E1E1 1px;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.navbar-up-title {
    font-size: 2.5rem;
}

.navbar-bottom {
    border-bottom: solid #E1E1E1 1px;
}